<a href="https://colab.research.google.com/github/jesus-acm/crimeZone-python-v1/blob/master/2_Limpieza_de_categorias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [ ]:
%cd 'drive/My Drive/Colab_Notebooks_Crimezone/CrimeZone'

/content/drive/My Drive/Colab_Notebooks_Crimezone/CrimeZone

In [ ]:
datos = pd.read_csv('../CrimeZone_db/crimenes-GAM-todos.csv')
datos.head()

                 fecha  ...        lat
0  2016-05-18 17:45:00  ...  19.472193
1  2016-05-18 14:00:00  ...  19.542214
2  2016-05-19 13:20:00  ...  19.496379
3  2016-05-05 17:00:00  ...  19.495574
4  2016-05-19 13:35:00  ...  19.514183

[5 rows x 6 columns]

In [ ]:
datos.shape

(99639, 6)

In [ ]:
datos.dtypes

fecha         object
crimen        object
categoria     object
colonia       object
long         float64
lat          float64
dtype: object

In [ ]:
crimenes = datos.convert_dtypes()
crimenes.dtypes

fecha         string
crimen        string
categoria     string
colonia       string
long         float64
lat          float64
dtype: object

In [ ]:
crimenes['categoria'].unique()

<StringArray>
[                                 'DELITO DE BAJO IMPACTO',
                            'ROBO A NEGOCIO CON VIOLENCIA',
    'ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIOLENCIA',
                    'ROBO DE VEHÍCULO CON Y SIN VIOLENCIA',
                    'ROBO A CASA HABITACIÓN CON VIOLENCIA',
                                        'HOMICIDIO DOLOSO',
                                      'HECHO NO DELICTIVO',
 'ROBO A PASAJERO A BORDO DE MICROBUS CON Y SIN VIOLENCIA',
           'LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO',
   'ROBO A PASAJERO A BORDO DEL METRO CON Y SIN VIOLENCIA',
 'ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON VIOLENCIA',
                   'ROBO A REPARTIDOR CON Y SIN VIOLENCIA',
           'ROBO A PASAJERO A BORDO DE TAXI CON VIOLENCIA',
                'ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA',
                                               'VIOLACIÓN',
                                               'SECUESTRO']
Length: 16, dtype: string

In [ ]:
crimenes.groupby(['categoria']).size().to_frame().reset_index().rename(columns={
    0:'total'
}).sort_values(by='total',ascending=True)

                                            categoria  total
14                                          SECUESTRO     16
12           ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA     84
8       ROBO A PASAJERO A BORDO DE TAXI CON VIOLENCIA     99
5   ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON ...    243
4                ROBO A CASA HABITACIÓN CON VIOLENCIA    301
15                                          VIOLACIÓN    428
9   ROBO A PASAJERO A BORDO DEL METRO CON Y SIN VI...    447
7   ROBO A PASAJERO A BORDO DE MICROBUS CON Y SIN ...    498
2                                    HOMICIDIO DOLOSO    921
3       LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO   1267
10              ROBO A REPARTIDOR CON Y SIN VIOLENCIA   1405
6                        ROBO A NEGOCIO CON VIOLENCIA   1922
1                                  HECHO NO DELICTIVO   5078
11  ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIO...   5803
13               ROBO DE VEHÍCULO CON Y SIN VIOLENCIA   7754
0                              DELITO DE BAJO IMPACTO  73373

In [ ]:
def tabla_frecuencias_categoria(categoria, ascendente):
    return crimenes[crimenes['categoria']==categoria].groupby(['crimen']).size().to_frame().reset_index().rename(columns={
    0:'Total'
}).sort_values(by='Total',ascending=~ascendente)

In [ ]:
pd.isnull(crimenes['fecha']).values.ravel().sum()

10

# Secuestro

In [ ]:
tabla_frecuencias_categoria('SECUESTRO', True)

               crimen  Total
0  PLAGIO O SECUESTRO     16

# Robo a transportista con y sin violencia

In [ ]:
tabla_frecuencias_categoria('ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA', True)

                                              crimen  Total
1  ROBO A TRANSPORTISTA Y VEHICULO PESADO SIN VIO...      8
0  ROBO A TRANSPORTISTA Y VEHICULO PESADO CON VIO...     76

 # Robo a pasajero a bordo de taxi con violencia

In [ ]:
tabla_frecuencias_categoria('ROBO A PASAJERO A BORDO DE TAXI CON VIOLENCIA', True).set_index('crimen')

                                                    Total
crimen
ROBO A TRANSEUNTE A BORDO DE TAXI PÚBLICO Y PRI...     45
ROBO A PASAJERO A BORDO DE TAXI CON VIOLENCIA          54

# Robo a cuentahabiente saliendo del cajero con violencia

In [ ]:
tabla_frecuencias_categoria('ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON VIOLENCIA', True).set_index('crimen')

                                                    Total
crimen
ROBO A TRANSEUNTE SALIENDO DEL CAJERO CON VIOLE...     37
ROBO A TRANSEUNTE SALIENDO DEL BANCO CON VIOLENCIA    206

# Violación

In [ ]:
tabla_frecuencias_categoria('VIOLACIÓN', True)

                              crimen  Total
2  VIOLACION EQUIPARADA POR CONOCIDO      2
3              VIOLACION TUMULTUARIA      7
1               VIOLACION EQUIPARADA     45
0                          VIOLACION    374

In [ ]:
crimenes = crimenes[crimenes['categoria']!='VIOLACIÓN']
crimenes.shape

(99211, 6)

# Robo a casa habitación con violencia

In [ ]:
tabla_frecuencias_categoria('ROBO A CASA HABITACIÓN CON VIOLENCIA', True)

                                            crimen  Total
1  ROBO A CASA HABITACION Y VEHICULO CON VIOLENCIA     46
0             ROBO A CASA HABITACION CON VIOLENCIA    255

#  Robo a pasajero a bordo del metro con y sin violencia

In [ ]:
tabla_frecuencias_categoria('ROBO A PASAJERO A BORDO DEL METRO CON Y SIN VIOLENCIA', True)

                                           crimen  Total
0  ROBO A PASAJERO A BORDO DE METRO CON VIOLENCIA     56
1  ROBO A PASAJERO A BORDO DE METRO SIN VIOLENCIA    391

# Robo a pasajero a bordo de microbus con y sin violencia

In [ ]:
tabla_frecuencias_categoria('ROBO A PASAJERO A BORDO DE MICROBUS CON Y SIN VIOLENCIA', True).set_index(['crimen'])

                                                    Total
crimen
ROBO A PASAJERO A BORDO DE PESERO COLECTIVO SIN...     34
ROBO A PASAJERO A BORDO DE PESERO COLECTIVO CON...    464

# Homicidio doloso

In [ ]:
tabla_frecuencias_categoria('HOMICIDIO DOLOSO', True)

                                     crimen  Total
2  FEMINICIDIO POR DISPARO DE ARMA DE FUEGO      1
4                HOMICIDIO POR AHORCAMIENTO      1
3                    FEMINICIDIO POR GOLPES      2
1               FEMINICIDIO POR ARMA BLANCA      5
0                               FEMINICIDIO     22
7                      HOMICIDIO POR GOLPES     50
8          HOMICIDIOS INTENCIONALES (OTROS)     56
5                 HOMICIDIO POR ARMA BLANCA     81
6               HOMICIDIO POR ARMA DE FUEGO    703

# Robo a repartidor con y sin violencia

In [ ]:
tabla_frecuencias_categoria('ROBO A REPARTIDOR CON Y SIN VIOLENCIA', True)

                                       crimen  Total
3  ROBO A REPARTIDOR Y VEHICULO SIN VIOLENCIA     15
2  ROBO A REPARTIDOR Y VEHICULO CON VIOLENCIA     82
1             ROBO A REPARTIDOR SIN VIOLENCIA    178
0             ROBO A REPARTIDOR CON VIOLENCIA   1130

# Lesiones dolosas por disparo de arma de fuego

In [ ]:
tabla_frecuencias_categoria('LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO', True)

                                     crimen  Total
0  LESIONES INTENCIONALES POR ARMA DE FUEGO   1267

# Robo a negocio con violencia

In [ ]:
tabla_frecuencias_categoria('ROBO A NEGOCIO CON VIOLENCIA', True)

                                              crimen  Total
6  ROBO A SUCURSAL BANCARIA (SUPERMERCADO) CON VI...      1
7             ROBO A SUCURSAL BANCARIA CON VIOLENCIA      1
8  ROBO DURANTE TRASLADO DE VALORES (NOMINA) CON ...      2
5  ROBO A SUCURSAL BANCARIA (ASALTO BANCARIO) CON...      3
1  ROBO A NEGOCIO CON VIOLENCIA POR FARDEROS (TIE...      4
3            ROBO A NEGOCIO Y VEHICULO CON VIOLENCIA      6
4               ROBO A OFICINA PÚBLICA CON VIOLENCIA     10
2  ROBO A NEGOCIO CON VIOLENCIA POR FARDEROS (TIE...     51
0                       ROBO A NEGOCIO CON VIOLENCIA   1844

# Robo a transeunte en  vía pública con y sin violencia

In [ ]:
tabla_frecuencias_categoria('ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIOLENCIA', True).set_index(['crimen'])

                                                    Total
crimen
ROBO A TRANSEUNTE EN VIA PUBLICA (NOMINA) CON V...      4
ROBO A TRANSEUNTE EN VIA PUBLICA SIN VIOLENCIA        596
ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA       5203

# Hecho no delictivo

In [ ]:
tabla_frecuencias_categoria('HECHO NO DELICTIVO', True)

                                               crimen  Total
9              DENUNCIA DE HECHOS POR ROBO DE CELULAR      1
16                    PERDIDA DE LA VIDA POR DERRUMBE      2
10  PERDIDA DE LA VIDA ASFIXIA POR ALIMENTOS/ LIQU...      3
13                     PERDIDA DE LA VIDA POR ASFIXIA      4
2                                             DDH FDS      6
11           PERDIDA DE LA VIDA POR ACCIDENTE LABORAL      9
12                 PERDIDA DE LA VIDA POR AHOGAMIENTO     10
21               PERDIDA DE LA VIDA POR PRECIPITACION     10
18                PERDIDA DE LA VIDA POR INTOXICACION     11
24        PERDIDA DE LA VIDA POR SUICIDIO EN EL METRO     12
15       PERDIDA DE LA VIDA POR CONGESTION ALCOHOLICA     13
0                                        DDH ANONIMAS     13
5                                           DDH REDES     16
7                                       DDH SIN DATOS     19
3                                            DDH FRVT     19
1                                          DDH CERESO     22
22                   PERDIDA DE LA VIDA POR QUEMADURA     23
6                                    DDH RELACIONADAS     42
4                                  DDH OTRAS MATERIAS     63
20               PERDIDA DE LA VIDA POR PARO CARDIACO     66
14                       PERDIDA DE LA VIDA POR CAIDA     68
17                  PERDIDA DE LA VIDA POR ENFERMEDAD    100
23                    PERDIDA DE LA VIDA POR SUICIDIO    201
19                PERDIDA DE LA VIDA POR OTRAS CAUSAS    637
8                                  DENUNCIA DE HECHOS   3708

# Robo de vehículo con y sin violencia

In [ ]:
tabla_frecuencias_categoria('ROBO DE VEHÍCULO CON Y SIN VIOLENCIA', True).set_index(['crimen'])

                                                    Total
crimen
ROBO DE MAQUINARIA CON VIOLENCIA                        3
ROBO DE VEHICULO DE SERVICIO OFICIAL CON VIOLENCIA      5
ROBO DE VEHICULO DE SERVICIO OFICIAL SIN VIOLENCIA     23
ROBO DE VEHICULO DE SERVICIO DE TRANSPORTE CON ...     26
ROBO DE VEHICULO DE SERVICIO DE TRANSPORTE SIN ...     35
ROBO DE VEHICULO DE SERVICIO PÚBLICO SIN VIOLENCIA    380
ROBO DE MOTOCICLETA CON VIOLENCIA                     474
ROBO DE MOTOCICLETA SIN VIOLENCIA                     533
ROBO DE VEHICULO DE SERVICIO PÚBLICO CON VIOLENCIA    774
ROBO DE VEHICULO DE SERVICIO PARTICULAR CON VIO...   1985
ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VIO...   3516

# Delito de bajo impacto

In [ ]:
tabla_frecuencias_categoria('DELITO DE BAJO IMPACTO',True)[40:60]

                                                crimen  Total
59   FABRICACION, COMERCIALIZACION Y USO INDEBIDO D...      4
154           ROBO A TRANSEUNTE EN HOTEL CON VIOLENCIA      4
70       HOMICIDIO CULPOSO FUERA DEL D.F (ATROPELLADO)      5
71          HOMICIDIO CULPOSO FUERA DEL D.F (COLISION)      5
69                                   HOMICIDIO CULPOSO      5
198                    VARIACION DE NOMBRE O DOMICILIO      5
7           ACOSO SEXUAL AGRAVADO EN CONTRA DE MENORES      5
158  ROBO A TRANSEUNTE EN TERMINAL DE PASAJEROS CON...      5
141   ROBO A PASAJERO EN AUTOBUS FORANEO SIN VIOLENCIA      5
148          ROBO A PASAJERO EN TROLEBUS SIN VIOLENCIA      5
132            ROBO A NEGOCIO Y VEHICULO SIN VIOLENCIA      6
24                   CORRUPCION DE MENORES E INCAPACES      6
104                                     OTROS CULPOSOS      7
149  ROBO A SUCURSAL BANCARIA (SUPERMERCADO) SIN VI...      7
14                                             BIGAMIA      7
107                                PELIGRO DE CONTAGIO      7
188                              TRAFICO DE INFLUENCIA      7
53                                             ESTUPRO      8
199                       VIOLACION DE CORRESPONDENCIA      9
103    OPERACIONES CON RECURSOS DE PROCEDENCIA ILICITA      9

In [ ]:
delitos_a_borrar_bajo_impacto = ['ROBO DURANTE TRASLADO DE VALORES (NOMINA) SIN VIOLENCIA',
    'EXPOSICION DE MENORES',
    'PRIVACION DE LA LIBERTAD PERSONAL (REALIZAR ACTO SEXUAL)',
    'LESIONES INTENCIONALES Y ROBO DE VEHICULO',
    'GESTIÓN AMBIENTAL',
    'DESACATO',
    'DELITOS CONTRA LA SALUD',
    'DAÑO EN PROPIEDAD AJENA INTENCIONAL A VIAS DE COMUNICACION',
    'REGULACIÓN URBANA',
    'INHUMACIONES Y/O EXHUMACIONES',
    'INTIMIDACION (EVITAR DENUNCIA, APORTE INFORMACIÓN O PRUEBAS)',
    'LENOCINIO',
    'COACCION DE SERVIDORES PUBLICOS',
    'DAÑO EN PROPIEDAD AJENA CULPOSA POR TRÁNSITO VEHICULAR A VIAS DE COMUNICACION',
    'UTILIZACION INDEBIDA DE LA VIA PUBLICA',
    'CAMBIO DE USO DE SUELO',
    'ATAQUES A LA PAZ PUBLICA',
    'LEY FEDERAL DE ARMAS DE FUEGO Y EXPLOSIVOS',
    'LESIONES DOLOSAS POR QUEMADURAS',
    'TRAFICO DE INFANTES',
    'USO INDEBIDO DE CONDECORACIONES UNIFORMES E INSIGNIAS',
    'SABOTAJE',
    'FALSIFICACION DE SELLOS, MARCAS, LLAVES Y OTROS',
    'OTROS DELITOS',
    'EXPLOTACIÓN DE MENOR O DISCAPACITADO',
    'EXPLOTACIÓN LABORAL DE MENORES, PERSONAS CON DISCAPACIDAD FÍSICA O MENTAL Y ADULTOS MAYORES',
    'INHUMACION, EXHUMACION Y RESPETO A LOS CADAVERES O RESTOS HUMANOS',
    'EVASION DE PRESOS',
    'CONTRA EL ESTADO CIVIL',
    'DIFAMACION',
    'FALSIFICACIÓN DE SELLOS, MARCAS, LLAVES, CUÑOS, TROQUELES, CONTRASEÑAS Y OTROS',
    'ROBO EN INTERIOR DE EMPRESA (NOMINA) SIN VIOLENCIA',
    'FABRICACION, COMERCIALIZACION Y USO INDEBIDO DE INSIGNIAS Y UNIFORMES',
    'HOMICIDIO CULPOSO FUERA DEL D.F (ATROPELLADO)',# 
    'HOMICIDIO CULPOSO FUERA DEL D.F (COLISION)',
    'VARIACION DE NOMBRE O DOMICILIO',
    'ACOSO SEXUAL AGRAVADO EN CONTRA DE MENORES',
    'CORRUPCION DE MENORES E INCAPACES',
    'OTROS CULPOSOS',
    'ROBO A SUCURSAL BANCARIA (SUPERMERCADO) SIN VIOLENCIA',
    'BIGAMIA',
    'PELIGRO DE CONTAGIO',
    'TRAFICO DE INFLUENCIA',
    'ESTUPRO',
    'VIOLACION DE CORRESPONDENCIA',
    'OPERACIONES CON RECURSOS DE PROCEDENCIA ILICITA',
    'TENTATIVA DE FRAUDE',
    'USURPACION DE FUNCIONES PUBLICAS',
    'PORNOGRAFÍA',
    'REVELACION DE SECRETOS',
    'PECULADO',
    'HOMICIDIO CULPOSO POR TRÁNSITO VEHICULAR',
    'HOMICIDIO CULPOSO POR TRÁNSITO VEHICULAR (CAIDA)',
    'CONTRA LA INTIMIDAD SEXUAL',
    'PORNOGRAFIA INFANTIL',
    'DESOBEDENCIA DE PARTICULARES',
    'TENTATIVA DE SUICIDIO',
    'USURPACION DE FUNCIONES',
    'DELITOS DE ABOGADOS, PATRONOS, LITIGANTES Y ASESORES JURIDICOS',
    'ROBO DE ALHAJAS',
    'FALSEDAD ANTE AUTORIDADES',
    'ROBO DE FLUIDOS',
    'EJERCICIO ILEGAL Y ABANDONO DEL SERVICIO PUBLICO',
    'USURPACION DE PROFESION',
    'COBRANZA ILEGITIMA',
    'ATAQUE A LAS VIAS DE COMUNICACION (DAÑO A VIAS O MEDIOS DE TRANSPORTE)',
    'DELITOS DE ABOGADOS PATRONOS Y LITIGANTES',
    'ROBO A NEGOCIO SIN VIOLENCIA POR FARDEROS (TIENDAS DE CONVENIENCIA)',
    'LESIONES CULPOSAS POR QUEMADURAS',
    'PRIV. ILEGAL DE LA LIB. Y ROBO DE VEHICULO',
    'LESIONES CULPOSAS ACCIDENTE LABORAL',
    'DISPAROS DE ARMA DE FUEGO',
    'RESPONSABILIDAD PROFESIONAL Y TECNICA',
    'ATAQUE A LAS VIAS GENERALES DE COMUNICACIÓN',
    'DAÑO EN PROPIEDAD AJENA INTENCIONAL A NEGOCIO',
    'FALSEDAD DE DECLARACIONES',
    'USO INDEBIDO DE ATRIBUCIONES Y FACULTADES',
    'ROBO DE ANIMALES',
    'ROBO DE ARMA',
    'LESIONES CULPOSAS POR CAIDA DE VEHÍCULO EN MOVIMIENTO',
    'CORRUPCIÓN DE PERSONAS MENORES DE EDAD O PERSONAS QUE NO TENGAN CAPACIDAD PARA COMPRENDER EL SIGNIFICADO DEL HECHO O DE PERSONAS QUE NO TENGAN CAPACIDAD DE RESISTIR LA CONDUCTA',
    'ROBO A TRANSEUNTE CONDUCTOR DE TAXI PUBLICO Y PRIVADO CON VIOLENCIA',
    'DESOBEDIENCIA Y RESISTENCIA DE PARTICULARES',
    'CONTRA EL CUMPLIMIENTO DE LA OBLIGACION ALIMENTARIA',
    'RESISTENCIA DE PARTICULARES (SE OPONGA O RESISTA)',
    'ROBO A OFICINA PÚBLICA SIN VIOLENCIA',
    'ROBO A PASAJERO / CONDUCTOR DE TAXI CON VIOLENCIA',
    'CORRUPCION DE MENORES',
    'CONTRA FUNCIONARIOS PUBLICOS',
    'RESPONSABILIDAD PROFESIONAL',
    'EJERCICIO INDEBIDO DEL SERVIDOR PUBLICO',
    'PERSONAS EXTRAVIADAS Y AUSENTES',
    'ABORTO',
    'SECUESTRO EXPRESS (PARA COMETER ROBO O EXTORSIÓN)',
    'PORTACIÓN, FABRICACIÓN E IMPORTACIÓN DE OBJETOS APTOS PARA AGREDIR',
    'MALTRATO ANIMAL',
    'DELITOS ELECTORALES',
    'DAÑO EN PROPIEDAD AJENA CULPOSA POR TRÁNSITO VEHICULAR A BIENES INMUEBLES',
    'COHECHO',
    'HOMICIDIO CULPOSO POR TRÁNSITO VEHICULAR (COLISION)',
    'OMISION DE AUXILIO O DE CUIDADO',
    'PORTACION ARMA/PROHIB.',
    'PORTACION DE ARMA DE FUEGO',
    'POSESION DE VEHICULO ROBADO',
    'ALLANAMIENTO DE MORADA, DESPACHO, OFICINA O ESTABLECIMIENTO MERCANTIL',
    'DISCRIMINACION',
    'DAÑO EN PROPIEDAD AJENA INTENCIONAL A BIENES INMUEBLES',
    'RETENCIÓN O SUSTRACCIÓN DE MENORES INCAPACES',
    'HOMICIDIO CULPOSO POR TRÁNSITO VEHICULAR (ATROPELLADO)',
    'FALSIFICACION O ALTERACION Y USO INDEBIDO DE DOCUMENTOS',
    'USO DE DOCUMENTO FALSO',
    'LESIONES CULPOSAS POR CAIDA',
    'INSOLVENCIA ALIMENTARIA',
    'DAÑO EN PROPIEDAD AJENA INTENCIONAL A CASA HABITACION',
    'ROBO DE PLACA DE AUTOMOVIL',
    'TORTURA',
    'QUEBRANTAMIENTO DE SELLOS',
    'DELITOS AMBIENTALES',
    'ABANDONO DE PERSONA',
    'ROBO A NEGOCIO SIN VIOLENCIA POR FARDEROS (TIENDAS DE AUTOSERVICIO)',
    'FALSIFICACION DE DOCUMENTOS',
    'ACOSO SEXUAL',
    'ALLANAMIENTO DE MORADA',
    'ENCUBRIMIENTO POR FAVORECIMIENTO Y RECEPTACIÓN',
    'ABUSO DE AUTORIDAD Y USO ILEGAL DE LA FUERZA PUBLICA',
    'NEGACION DEL SERVICIO PUBLICO',
    'LA ADMINISTRACION DE JUSTICIA',
    'EXTORSION',
    'PRIVACION DE LA LIBERTAD PERSONAL',
    'ROBO DE OBJETOS A ESCUELA',
    'ROBO DE VEHICULO DE PEDALES',
    'LESIONES INTENCIONALES',
    'SUSTRACCION DE MENORES',
    'ROBO DE DOCUMENTOS',
    'LESIONES CULPOSAS',
    'LESIONES CULPOSAS POR TRANSITO VEHICULAR',
    'DAÑO EN PROPIEDAD AJENA INTENCIONAL A AUTOMOVIL',
    'ABUSO DE AUTORIDAD',
    'PRODUCCIÓN, IMPRESIÓN, ENAJENACIÓN, DISTRIBUCIÓN, ALTERACIÓN O FALSIFICACIÓN DE TÍTULOS AL PORTADOR, DOCUMENTOS DE CRÉDITO PÚBLICOS O VALES DE CANJE',
    'ENCUBRIMIENTO',
    'TENTATIVA DE EXTORSION',
    'DAÑO EN PROPIEDAD AJENA CULPOSA',
    'LESIONES INTENCIONALES POR ARMA BLANCA',
    'DAÑO EN PROPIEDAD AJENA INTENCIONAL',
    'USURPACIÓN DE IDENTIDAD',
    'FALSIFICACION DE TITULOS AL PORTADOR Y DOCUMENTOS DE CREDITO PUBLICO',
    'DAÑO EN PROPIEDAD AJENA CULPOSA POR TRÁNSITO VEHICULAR A AUTOMOVIL',
    'ABUSO SEXUAL',
    'LESIONES INTENCIONALES POR GOLPES',
    'LESIONES CULPOSAS POR TRANSITO VEHICULAR EN COLISION',
    'ABUSO DE CONFIANZA',
    'DESPOJO',
    'NARCOMENUDEO POSESION SIMPLE',
    'FRAUDE',
    'AMENAZAS',
    'VIOLENCIA FAMILIAR',
    'ROBO A TRANSEUNTE Y VEHICULO CON VIOLENCIA',
    'ROBO S/V DENTRO DE NEGOCIOS, AUTOSERVICIOS, CONVENIENCIA',
    'ROBO DE DINERO',
    ]

# Rafael

In [ ]:
delitos_a_borrar =[
  'ROBO A TRANSPORTISTA Y VEHICULO PESADO SIN VIOLENCIA',
  'ROBO A TRANSPORTISTA Y VEHICULO PESADO CON VIOLENCIA',
  'VIOLACION EQUIPARADA POR CONOCIDO',
  'VIOLACION EQUIPARADA',
  'VIOLACION TUMULTUARIA',
  'ROBO A SUCURSAL BANCARIA (SUPERMERCADO) CON VIOLENCIA',
  'ROBO A SUCURSAL BANCARIA CON VIOLENCIA',
  'ROBO DURANTE TRASLADO DE VALORES (NOMINA) CON VIOLENCIA',
  'ROBO A SUCURSAL BANCARIA (ASALTO BANCARIO) CON VIOLENCIA',
  'ROBO A NEGOCIO CON VIOLENCIA POR FARDEROS (TIENDAS DE AUTOSERVICIO)',
  'ROBO A NEGOCIO Y VEHICULO CON VIOLENCIA',
  'ROBO A OFICINA PÚBLICA CON VIOLENCIA',
  'ROBO A NEGOCIO CON VIOLENCIA POR FARDEROS (TIENDAS DE CONVENIENCIA)',
  'ROBO A TRANSEUNTE EN VIA PUBLICA (NOMINA) CON VIOLENCIA',
  'ROBO DE MAQUINARIA CON VIOLENCIA',
  'ROBO DE VEHICULO DE SERVICIO OFICIAL CON VIOLENCIA',
  'ROBO DE VEHICULO DE SERVICIO OFICIAL SIN VIOLENCIA',
  'ROBO DE VEHICULO DE SERVICIO DE TRANSPORTE CON VIOLENCIA',
  'ROBO DE VEHICULO DE SERVICIO DE TRANSPORTE SIN VIOLENCIA',
]
# Eliminar 'ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA'
# Eliminar 'HECHO NO DELICTIVO'

# BETO

In [ ]:
## ELIMINA ESTE ARREGLO DE DELITOS - delitos_a_borrar_bajo_impacto
## ELIMINA ESTE OTRO - delitos_a_borrar
# Eliminar CATEGORIA - 'ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA'
# Eliminar CATEGORIA - 'HECHO NO DELICTIVO'

# YA NA MAS QUEDA REGATEGORIZAR :) Y TENEMOS NUESTRO DATASET PARA EMPEZAR A TRABAJAR 
## 7u7
crimenes.shape

(99639, 6)

In [ ]:
crimenes = crimenes[crimenes['categoria']!='ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA']
crimenes.shape

(99555, 6)

In [ ]:
crimenes = crimenes[crimenes['categoria']!='HECHO NO DELICTIVO']
crimenes.shape

(94477, 6)

In [ ]:
for crimen in delitos_a_borrar_bajo_impacto:
  crimenes = crimenes[crimenes['crimen']!=crimen]
crimenes.shape

(45766, 6)

In [ ]:
for crimen in delitos_a_borrar:
  crimenes = crimenes[crimenes['crimen']!=crimen]
crimenes.shape

(45538, 6)

In [ ]:
crimenes.head()

                 fecha  ...        lat
0  2016-05-18 17:45:00  ...  19.472193
2  2016-05-19 13:20:00  ...  19.496379
3  2016-05-05 17:00:00  ...  19.495574
4  2016-05-19 13:35:00  ...  19.514183
5  2016-05-18 11:00:00  ...  19.494444

[5 rows x 6 columns]

In [ ]:
recategorizacion = pd.DataFrame(np.array([
            ['ROBO A TRANSEUNTE A BORDO DE TAXI PÚBLICO Y PRIVADO CON VIOLENCIA','ROBO EN TAXI CV'],
            ['ROBO A PASAJERO A BORDO DE TAXI CON VIOLENCIA', 'ROBO EN TAXI CV'],
            ['ROBO A TRANSEUNTE SALIENDO DEL CAJERO CON VIOLENCIA', 'ROBO A CUENTAHABIENTE CV'],
            ['ROBO A TRANSEUNTE SALIENDO DEL BANCO CON VIOLENCIA', 'ROBO A CUENTAHABIENTE CV'],
            ['ROBO A CASA HABITACION Y VEHICULO CON VIOLENCIA', 'ROBO A CASA HABITACION SV'],
            ['ROBO A CASA HABITACION CON VIOLENCIA', 'ROBO A CASA HABITACION CV'],
            ['ROBO A PASAJERO A BORDO DE METRO CON VIOLENCIA', 'ROBO EN METRO CV'],
            ['ROBO A PASAJERO A BORDO DE METRO SIN VIOLENCIA', 'ROBO EN METRO SV'],
            ['ROBO A PASAJERO A BORDO DE PESERO COLECTIVO SIN VIOLENCIA', 'ROBO EN MICROBUS SV'],
            ['ROBO A PASAJERO A BORDO DE PESERO COLECTIVO CON VIOLENCIA', 'ROBO EN MICROBUS CV'],
            ['FEMINICIDIO', 'FEMINICIDIO'],
            ['FEMINICIDIO POR GOLPES', 'FEMINICIDIO'],
            ['FEMINICIDIO POR ARMA BLANCA', 'FEMINICIDIO'],
            ['ROBO A REPARTIDOR Y VEHICULO SIN VIOLENCIA', 'ROBO A REPARTIDOR SV'],
            ['ROBO A REPARTIDOR Y VEHICULO CON VIOLENCIA', 'ROBO A REPARTIDOR CV'],
            ['ROBO A REPARTIDOR SIN VIOLENCIA', 'ROBO A REPARTIDOR SV'],
            ['ROBO A REPARTIDOR CON VIOLENCIA', 'ROBO A REPARTIDOR CV'],
            ['ROBO A TRANSEUNTE EN VIA PUBLICA SIN VIOLENCIA', 'ROBO A TRANSEUNTE SV'],
            ['ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA', 'ROBO A TRANSEUNTE CV'],
            ['ROBO DE VEHICULO DE SERVICIO PÚBLICO SIN VIOLENCIA', 'ROBO DE VEHICULO SV'],
            ['ROBO DE MOTOCICLETA CON VIOLENCIA', 'ROBO DE VEHICULO CV'],
            ['ROBO DE MOTOCICLETA SIN VIOLENCIA', 'ROBO DE VEHICULO SV'],
            ['ROBO DE VEHICULO DE SERVICIO PÚBLICO CON VIOLENCIA', 'ROBO DE VEHICULO CV'],
            ['ROBO DE VEHICULO DE SERVICIO PARTICULAR CON VIOLENCIA', 'ROBO DE VEHICULO CV'],
            ['ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VIOLENCIA', 'ROBO DE VEHICULO SV'],
            ['TENTATIVA DE FEMINICIDIO', 'FEMINICIDIO'],
            ['HOMICIDIO CULPOSO POR INSTRUMENTO PUNZO CORTANTE', 'HOMICIDIO DOLOSO'],
            ['ROBO A PASAJERO EN ECOBUS CON VIOLENCIA', 'ROBO EN MICROBUS CV'],
            ['ROBO A PASAJERO EN RTP SIN VIOLENCIA', 'ROBO EN MICROBUS SV'],
            ['ROBO A LOCALES SEMIFIJOS (PUESTOS DE ALIMENTOS,BEBIDAS, ENSERES, PERIODICOS,LOTERIA, OTROS)', 'ROBO A NEGOCIO CV'],
            ['DESAPARICION FORZADA DE PERSONAS', 'SECUESTRO'],
            ['ROBO A TRANSEUNTE EN HOTEL CON VIOLENCIA', 'ROBO A TRANSEUNTE CV'],
            ['HOMICIDIO CULPOSO', 'HOMICIDIO DOLOSO'],
            ['ROBO A TRANSEUNTE EN TERMINAL DE PASAJEROS CON VIOLENCIA', 'ROBO A TRANSEUNTE CV'],
            ['ROBO A PASAJERO EN AUTOBUS FORANEO SIN VIOLENCIA', 'ROBO EN MICROBUS SV'],
            ['ROBO A PASAJERO EN TROLEBUS SIN VIOLENCIA', 'ROBO EN MICROBUS SV'],
            ['ROBO A NEGOCIO Y VEHICULO SIN VIOLENCIA', 'ROBO A NEGOCIO SV'],
            ['TENTATIVA DE VIOLACION', 'VIOLACIÓN'],
            ['ROBO A PASAJERO EN RTP CON VIOLENCIA', 'ROBO EN MICROBUS CV'],
            ['ROBO A PASAJERO EN AUTOBÚS FORÁNEO CON VIOLENCIA', 'ROBO EN MICROBUS CV'],
            ['HOMICIDIO CULPOSO POR ARMA DE FUEGO', 'HOMICIDIO DOLOSO'],
            ['ROBO A PASAJERO EN TROLEBUS CON VIOLENCIA', 'ROBO EN MICROBUS CV'],
            ['ROBO A TRANSEUNTE A BORDO DE TAXI PUBLICO Y PRIVADO SIN VIOLENCIA', 'ROBO EN TAXI SV'],
            ['ROBO A PASAJERO A BORDO DE TAXI SIN VIOLENCIA', 'ROBO EN TAXI SV'],
            ['ROBO A PASAJERO A BORDO DE METROBUS CON VIOLENCIA', 'ROBO EN METROBUS CV'],
            ['ROBO A CASA HABITACION Y VEHICULO SIN VIOLENCIA', 'ROBO A CASA HABITACION SV'],
            ['TENTATIVA DE HOMICIDIO', 'HOMICIDIO DOLOSO'],
            ['ROBO A TRANSEUNTE EN RESTAURANT CON VIOLENCIA', 'ROBO A TRANSEUNTE CV'],
            ['TENTATIVA DE ROBO DE VEHICULO', 'ROBO DE VEHICULO CV'],
            ['ROBO A TRANSEUNTE EN PARQUES Y MERCADOS CON VIOLENCIA', 'ROBO A TRANSEUNTE CV'],
            ['ROBO A PASAJERO A BORDO DE TRANSPORTE PÚBLICO SIN VIOLENCIA', 'VISUALIZAR'],
            ['ROBO A TRANSEUNTE EN NEGOCIO CON VIOLENCIA', 'ROBO A TRANSEUNTE CV'],
            ['TENTATIVA DE ROBO', 'ROBO A TRANSEUNTE CV'],
            ['ROBO A PASAJERO A BORDO DE METROBUS SIN VIOLENCIA', 'ROBO EN METROBUS SV'],
            ['NARCOMENUDEO POSESIÓN CON FINES DE VENTA, COMERCIO Y SUMINISTRO', 'NARCOMENUDEO'],
            ['ROBO A PASAJERO / CONDUCTOR DE VEHICULO CON VIOLENCIA', 'ROBO EN MICROBUS CV'],
            ['ROBO A TRANSEUNTE DE CELULAR SIN VIOLENCIA', 'VISUALIZAR'],
            ['ROBO A PASAJERO A BORDO DE TRANSPORTE PÚBLICO CON VIOLENCIA', 'VISUALIZAR'],
            ['ROBO A TRANSEUNTE DE CELULAR CON VIOLENCIA', 'VISUALIZAR'],
            ['ROBO DE OBJETOS DEL INTERIOR DE UN VEHICULO', 'ROBO A VEHICULO'],
            ['ROBO A CASA HABITACION SIN VIOLENCIA', 'ROBO A CASA HABITACION SV'],
            ['ROBO DE ACCESORIOS DE AUTO', 'ROBO A VEHICULO'],
            ['ROBO A NEGOCIO SIN VIOLENCIA', 'ROBO A NEGOCIO SV'],
            ['ROBO A NEGOCIO CON VIOLENCIA', 'ROBO A NEGOCIO CV']
            ]),
             columns=['Crimen', 'Nueva categoria'])

In [ ]:
for i in range(len(recategorizacion['Crimen'])):
  crimenes.loc[crimenes['crimen']==recategorizacion['Crimen'][i], 'categoria'] = recategorizacion['Nueva categoria'][i]
crimenes['categoria'].unique()

<StringArray>
[                                   'VISUALIZAR',
                             'ROBO A NEGOCIO SV',
                             'ROBO A NEGOCIO CV',
                          'ROBO A TRANSEUNTE CV',
                     'ROBO A CASA HABITACION SV',
                           'ROBO DE VEHICULO SV',
                               'ROBO A VEHICULO',
                        'DELITO DE BAJO IMPACTO',
                     'ROBO A CASA HABITACION CV',
                           'ROBO DE VEHICULO CV',
                              'HOMICIDIO DOLOSO',
                           'ROBO EN MICROBUS CV',
 'LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO',
                                  'NARCOMENUDEO',
                              'ROBO EN METRO SV',
                      'ROBO A CUENTAHABIENTE CV',
                          'ROBO A REPARTIDOR CV',
                               'ROBO EN TAXI CV',
                          'ROBO A TRANSEUNTE SV',
                          'ROBO A REPARTIDOR SV',
                               'ROBO EN TAXI SV',
                                     'VIOLACIÓN',
                                   'FEMINICIDIO',
                              'ROBO EN METRO CV',
                           'ROBO EN METROBUS SV',
                           'ROBO EN MICROBUS SV',
                           'ROBO EN METROBUS CV',
                                     'SECUESTRO']
Length: 28, dtype: string