In [46]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
datos = pd.read_csv('../../Archivos/carpetas-de-investigacion-pgj-cdmx.csv')
datos.head()

,año_hechos,mes_hechos,fecha_hechos,delito,categoria_delito,fiscalía,agencia,unidad_investigacion,colonia_hechos,alcaldia_hechos,fecha_inicio,mes_inicio,ao_inicio,calle_hechos,calle_hechos2,longitud,latitud,Geopoint
0,2016.0,Enero,2016-01-05 17:00:00,LESIONES CULPOSAS,DELITO DE BAJO IMPACTO,INVESTIGACIÓN EN GUSTAVO A. MADERO,GAM-6,UI-1CD,GRANJAS MODERNAS,GUSTAVO A MADERO,2016-01-05 18:35:37,Enero,2016,SAN JUAN DE ARAGON,CALLE ANZAR,-99.103527,19.481076,"19.4810759998,-99.103527"
1,2017.0,Noviembre,2017-11-01 14:00:00,ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,INVESTIGACIÓN EN AZCAPOTZALCO,AZ-1,UI-1SD,NaN,TLALNEPANTLA DE BAZ,2017-11-01 16:45:20,Noviembre,2017,BENITO JUAREZ,"MUNICIPIO DE TLALNEPANTLA, ESTADO DE MEXICO",NaN,NaN,NaN
2,2017.0,Noviembre,2017-11-01 16:40:00,ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA,ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIO...,INVESTIGACIÓN EN IZTACALCO,IZC-2,UI-1SD,GABRIEL RAMOS MILLÁN SECCIÓN TLACOTAL,IZTACALCO,2017-11-01 16:56:04,Noviembre,2017,SUR 117,ORIENTE 100A,-99.106072,19.395398,"19.3953976727,-99.1060723829"
3,2015.0,Diciembre,2015-12-30 20:00:00,FRAUDE,DELITO DE BAJO IMPACTO,INVESTIGACIÓN EN IZTAPALAPA,IZP-8,UI-1CD,CONSEJO AGRARISTA MEXICANO,IZTAPALAPA,2016-01-05 21:12:42,Enero,2016,CUARTA CERRADA DE FRESNO,ENCINO (SIN REGISTRO DEL SAP),-99.055887,19.322458,"19.3224579998,-99.055887"
4,2018.0,Mayo,2018-05-16 16:00:00,ROBO A REPARTIDOR CON VIOLENCIA,ROBO A REPARTIDOR CON Y SIN VIOLENCIA,INVESTIGACIÓN EN IZTAPALAPA,IZP-9,UI-2SD,DESARROLLO URBANO QUETZALCOATL,IZTAPALAPA,2018-05-22 10:44:45,Mayo,2018,TARASCO,ZAPOTECO,-99.042786,19.319141,"19.3191405147,-99.0427862526"

In [20]:
datos = datos[datos['alcaldia_hechos']=='GUSTAVO A MADERO']
len(datos)

80097

In [29]:
pd.isnull(datos).values.ravel().sum()

48612

In [28]:
crimenes = datos.dropna(axis=0, how="any")
len(crimenes)

41291

In [32]:
total_delitos = crimenes.groupby('categoria_delito').size()
total_delitos

categoria_delito
DELITO DE BAJO IMPACTO                                     30049
HECHO NO DELICTIVO                                          2153
HOMICIDIO DOLOSO                                             426
LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO                272
ROBO A CASA HABITACIÓN CON VIOLENCIA                         134
ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON VIOLENCIA      114
ROBO A NEGOCIO CON VIOLENCIA                                 761
ROBO A PASAJERO A BORDO DE MICROBUS CON Y SIN VIOLENCIA      239
ROBO A PASAJERO A BORDO DE TAXI CON VIOLENCIA                 45
ROBO A PASAJERO A BORDO DEL METRO CON Y SIN VIOLENCIA        142
ROBO A REPARTIDOR CON Y SIN VIOLENCIA                        639
ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIOLENCIA        2272
ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA                      36
ROBO DE VEHÍCULO CON Y SIN VIOLENCIA                        3921
SECUESTRO                                                      3
VIOLACIÓN                                                     85
dtype: int64

In [101]:
crimenes.groupby(['categoria_delito', 'ao_inicio']).size().to_frame()

                                     0
categoria_delito       ao_inicio
DELITO DE BAJO IMPACTO 2016       8427
                       2017       7860
                       2018       9330
                       2019       4432
HECHO NO DELICTIVO     2016        513
...                                ...
SECUESTRO              2019          1
VIOLACIÓN              2016         23
                       2017         13
                       2018         25
                       2019         24

[62 rows x 1 columns]

In [102]:
agrupados = crimenes.groupby(['ao_inicio', 'categoria_delito']).size()
agrupados.to_frame()

                                                                 0
ao_inicio categoria_delito
2016      DELITO DE BAJO IMPACTO                              8427
          HECHO NO DELICTIVO                                   513
          HOMICIDIO DOLOSO                                      98
          LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO         66
          ROBO A CASA HABITACIÓN CON VIOLENCIA                  37
...                                                            ...
2019      ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIOL...   577
          ROBO A TRANSPORTISTA CON Y SIN VIOLENCIA               4
          ROBO DE VEHÍCULO CON Y SIN VIOLENCIA                 621
          SECUESTRO                                              1
          VIOLACIÓN                                             24

[62 rows x 1 columns]