In [46]:
import certifi
import urllib3
import json
from pandas.io.json import json_normalize
import pandas as pd

### Funcion para realizar petición y decodificar los datos

In [20]:
def decodificaUrl (tipoPeticion, Url):
    http = urllib3.PoolManager(cert_reqs='CERT_REQUIRED',ca_certs=certifi.where())
    r = http.request(tipoPeticion, Url)
    r.status
    response = r.data
    str_response = response.decode('utf-8')
    y = json.loads(str_response)
    y = y['rows']
    return json_normalize(y)

## Obtener sectores y cuadrantes

In [21]:
cuadrantes = decodificadaUrl('GET', 'http://hoyodecrimen.com/api/v1/cuadrantes')
cuadrantes.head()

  cuadrante cve_mun       municipio sector
0   P-1.1.1    9010  ALVARO OBREGON  ALPES
1  P-1.1.10    9010  ALVARO OBREGON  ALPES
2   P-1.1.2    9010  ALVARO OBREGON  ALPES
3   P-1.1.3    9010  ALVARO OBREGON  ALPES
4   P-1.1.4    9010  ALVARO OBREGON  ALPES

In [22]:
cuadrantes['municipio'].unique()

array(['ALVARO OBREGON', 'AZCAPOTZALCO', 'BENITO JUAREZ', 'COYOACAN',
       'CUAJIMALPA', 'CUAUHTEMOC', 'GUSTAVO A MADERO', 'IZTACALCO',
       'IZTAPALAPA', 'MAGDALENA CONTRERAS', 'MIGUEL HIDALGO',
       'MILPA ALTA', 'TLAHUAC', 'TLALPAN', 'VENUSTIANO CARRANZA',
       'XOCHIMILCO'], dtype=object)

Se obtienen los sectores del municipio Gustavo A. Madero

In [28]:
cuadrantes_GAM = cuadrantes[cuadrantes['municipio']=='GUSTAVO A MADERO']
cuadrantes_GAM.head()

    cuadrante cve_mun         municipio  sector
340   N-2.1.1    9005  GUSTAVO A MADERO  ARAGON
341   N-2.1.2    9005  GUSTAVO A MADERO  ARAGON
342   N-2.1.3    9005  GUSTAVO A MADERO  ARAGON
343   N-2.1.4    9005  GUSTAVO A MADERO  ARAGON
344   N-2.1.5    9005  GUSTAVO A MADERO  ARAGON

In [54]:
sectores_GAM = cuadrantes_GAM['sector'].unique()
sectores_GAM

array(['ARAGON', 'CUAUTEPEC', 'CUCHILLA', 'LINDAVISTA', 'PRADERA',
       'QUIROGA', 'TEPEYAC', 'TICOMAN'], dtype=object)

## Obtención de los datos de los sectores de Gustavo A. Madero

In [104]:
data = decodificadaUrl('GET', 'http://hoyodecrimen.com/api/v1/sectores/'+sectores_GAM[0]+'/crimes/all/series')
for index in range(len(sectores_GAM)):
    if(index>0):
        temp_data = decodificadaUrl('GET', 'http://hoyodecrimen.com/api/v1/sectores/'+sectores_GAM[index]+'/crimes/all/series')
        data = pd.concat([data, temp_data], axis=0)

### Total de crimenes por sector

In [105]:
total_crimenes_sector = data[['sector', 'count']].groupby(['sector']).sum()
total_crimenes_sector

            count
sector
ARAGON       2088
CUAUTEPEC    2511
CUCHILLA     1789
LINDAVISTA   2715
PRADERA      2927
QUIROGA      2955
TEPEYAC      2398
TICOMAN      2680

In [106]:
total_crimenes_sector.sum()

count    20063
dtype: int64

In [111]:
data3 = data[['crime', 'count']].groupby(['crime'])

In [119]:
data3